<html>
<body>
	<h1>Add New Student to Database</h1>
	<form action="/new_student">
	<!--Says that the form below is attached to new student path in URL -->
		<label for="first_name">Enter student's first name</label>
		<input type="text" name="first_name" />
		<br/>
		<label for="last_name">Enter student's last name</label>
		<input type="text" name="last_name" />
		<br/>
		<label for="github">Enter github id</label>
		<input type="text" name="github" />
		<br/>
		<input type="submit">
	</form>
</body>
</html>