<html>
<header>
	<style>

	#header {
		text-align: center;
		font-family: Courier;
		background-color: yellow; 
		color: blue;
	}

	#pbjelly {
		border: 10px dotted red;
		display: block;
    	margin-left: auto;
    	margin-right: auto


}

	body {
		background: #79CDCD;
	}

	#header {
		text-align: center;
	}

	#login {
		text-align: center;
		font-style: italic;
		font-weight: bold;
		color: yellow;
	}
	</style>
</header>
<body>
	<h1 id="header"> Log-in to UpVote! #WOOT </h1>
	<p><img id="pbjelly" src="http://www.2dolphins.com/images/blogpix/dancing_banana.gif" /></p>
	<form action="/main_page">
		<div id="login">
			<!-- <li> -->
				<label for="email">Enter yo email:</label>
				<input type="text" name="email" />
			<!-- </li>
			<li> -->
				<label for="password">Enter da password:</label>
				<input type="text" name="password" />
				<input type="submit">
			<!-- </li> -->
		</div>
	</form>
</body>